target/
*.class
# *.jar
*.war

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Env ###
.env
.env.*
!.env.example

### Local Overrides ###
cors-override.*
build_output/

*/atl
